html {
  position: relative;
  height: 100%;
}

body {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-swap {
  padding: 10px;
}

.header-logo {
  height: 8rem;
  padding: 10px;
}

.content {
  border: 1px solid gray;
  box-shadow: 10px 5px 5px black;
}
.content:hover {
  cursor: pointer;
  border-color: gray;
  border-width: 5px;
  border-style: outset;
}

.row {
  min-height: 100%;
}
.c_border-0 {
  border-radius: 0px;
}

.c_border-10 {
  border-radius: 10px;
}

.c_border-25 {
  border-radius: 25px;
}

.inherit {
  border-radius: inherit;
}

.content-body {
  padding: 5px;
}

.icons {
  position: relative;
}

.icon {
  position: absolute;
  padding: 10px;
  opacity: 1;
  right: 0;
  top: 0;
}

.bi {
  color: #000000;
}

/*
.collapse:not(.show) {
  @media only screen and (min-width: 980px) {
    display: block;
  }
}
*/
.preview {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: none;
  color: white;
  text-align: right;
  font-size: 1.5rem;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0px;
    transition: visibility 1s, opacity 1s linear;
    transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    height: auto;
    background-color: none;
    transform: translateY(0);
  }
}