/* 

*/
html {
  scroll-behavior: smooth;
  min-height: min-content !important;
  min-height: 100%;
  min-width: min-content !important;
  min-width: 100%;
}

body {
  background: url("/src/img/background/bg-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-cards {
  min-height: 100%;
  height: fit-content;
  min-width: fit-content;
}

.header-logo {
  height: 8rem;
  padding: 10px;
}

.my-header {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.border-default {
  transition: all 0.3s ease;
  border-left: 3px solid #909090;
  border-top: 3px solid #909090;
}
.border-default:hover, .border-default:active, .border-default:focus {
  cursor: pointer;
  border-color: #909090;
  border-width: 5px;
  border-style: outset;
  box-shadow: 5px 5px 10px 3px #909090;
  -webkit-box-shadow: 5px 5px 10px 3px #909090;
  -moz-box-shadow: 5px 5px 10px 3px #909090;
}
.border-default:visited {
  border: 2px solid #909090;
}

#content-bbw,
#content-bs24 {
  overflow: hidden;
}

.border-bbw {
  transition: all 0.3s ease;
  border-left: 3px solid #e30613;
  border-top: 3px solid #e30613;
}
.border-bbw:hover, .border-bbw:active, .border-bbw:focus {
  cursor: pointer;
  border-color: #e30613;
  border-width: 5px;
  border-style: outset;
  box-shadow: 5px 5px 10px 3px #e30613;
  -webkit-box-shadow: 5px 5px 10px 3px #e30613;
  -moz-box-shadow: 5px 5px 10px 3px #e30613;
}
.border-bbw:visited {
  border: 2px solid #e30613;
}

.border-bs24 {
  transition: all 0.3s ease;
  border-top: 3px solid #85b004;
  border-right: 3px solid #85b004;
}
.border-bs24:hover, .border-bs24:active, .border-bs24:focus {
  cursor: pointer;
  border-color: #85b004;
  border-width: 5px;
  border-style: outset;
  box-shadow: -5px 5px 10px 3px #85b004;
  -webkit-box-shadow: -5px 5px 10px 3px #85b004;
  -moz-box-shadow: -5px 5px 10px 3px #85b004;
}
.border-bs24:visited {
  border: 2px solid #85b004;
}
@media only screen and (max-width: 990px) {
  .border-bs24 {
    border-right: none !important;
    border-left: 3px solid #85b004 !important;
  }
  .border-bs24:hover, .border-bs24:active, .border-bs24:focus {
    box-shadow: 5px 5px 10px 3px #85b004 !important;
    -webkit-box-shadow: 5px 5px 10px 3px #85b004 !important;
    -moz-box-shadow: 5px 5px 10px 3px #85b004 !important;
  }
}

.preview {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.icons {
  position: relative;
}

.icon {
  position: absolute;
  padding: 10px;
  opacity: 1;
  right: 0;
  top: 0;
}

.bi {
  color: #000000;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
}

.footer > .link-container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  width: fit-content;
}

.link-container {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  width: min-content;
  font-size: 1.5rem;
}

@media only screen and (min-width: 990px) {
  .content-animation {
    animation: none;
  }
}

.content-main {
  max-height: 100%;
}
@media only screen and (max-width: 990px) {
  .content-main {
    animation: slideDown 2s 0s ease forwards;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0px;
    transition: visibility 1s, opacity 1s linear;
    transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    height: auto;
    background-color: none;
    transform: translateY(0);
  }
}
a {
  color: #000000;
  font-style: italic;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
  font-size-adjust: 0.5;
  text-shadow: 1px 0px #000000;
}
a:visited, a:active {
  color: #000000;
}

/*

Impressum

*/
.imp-col {
  position: relative;
  min-width: 32.5vw !important;
  padding: auto;
  padding: 50px;
}

.my-row {
  height: fit-content !important;
}

.my-card-header {
  background-color: rgba(255, 255, 255, 0.75) !important;
  padding-right: 50px;
}

.my-card {
  background-color: rgba(255, 255, 255, 0.25) !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  min-width: 90%;
  z-index: 100;
}

.my-tab-card {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.my-list-group,
.my-list-group-item {
  background: none !important;
}

.my-card-header {
  background-color: rgba(255, 255, 255, 0.75) !important;
  margin-right: 50px;
}

.my-card-logo {
  width: 10rem;
}

.my-label {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem) !important;
}
.my-label:hover, .my-label:focus, .my-label:active {
  text-decoration: underline !important;
  transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
}

.imp-link-bbw,
.imp-link-bs24,
.imp-link {
  transition: all 0.6s ease;
}
.imp-link-bbw:hover,
.imp-link-bs24:hover,
.imp-link:hover {
  background: lightgray;
}

.imp-link:hover {
  box-shadow: 0px 0px 10px 5px #909090;
}

.imp-link-bbw:hover {
  box-shadow: 0px 0px 10px 5px #e30613;
}

.imp-link-bs24:hover {
  box-shadow: 0px 0px 10px 5px #85b004;
}

.imp-link-bootstrap:hover {
  box-shadow: 0px 0px 10px 5px #7952b3;
}

.my-scrollspy {
  max-height: 40rem;
  overflow: scroll;
  overflow-x: hidden;
}

.tab-item {
  padding: 1.5rem;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
}

.sub-tab-item {
  padding-top: 10px;
  border-top: 1px dotted #909090;
}

.my-navbar {
  height: 100%;
}