/* 

*/

$color_bbw: #e30613 !global;
$color_bs24: #85b004 !global;
$color_default: #aaaaaa !global;
$color_default-rgba: rgba(255, 255, 255, 0.75);
$color_bootstrap: #7952b3;
$input_shadow: 0px 0px 10px 5px;
$input_shadow-link: 0px 0px 12px 7px;
$card_shadow-right: 5px 5px 10px 5px;
$card_shadow-left: -5px 5px 10px 5px;
$border_width: 3px;
$border_width-hover: 3px;
$border_radius: 0.5rem !important;
$opacity_default: 1;
$opacity: 0.75;
$max: 100%;
html {
    scroll-behavior: smooth;
    min-height: min-content !important;
    min-height: $max;
    min-width: min-content !important;
    min-width: $max;
    overflow-x: hidden;
}

body {
    background: url("/src/img/background/bg-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info-cards {
    min-height: 100%;
    max-height: 100%;
    height: fit-content;
    min-width: fit-content;
}

.header-logo {
    height: 8rem;
    padding: 10px;
}

.my-header {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.border {
    &-default {
        transition: all 0.3s ease;
        border-left: $border_width solid $color_default;
        border-top: $border_width solid $color_default;
        border-radius: $border_radius;
        &:hover,
        &:focus {
            border-color: $color_default;
            border-width: $border_width-hover;
            -webkit-box-shadow: $card_shadow-right $color_default;
            -moz-box-shadow: $card_shadow-right $color_default;
            box-shadow: $card_shadow-right $color_default;
        }
        &:visited {
            border: 2px solid $color_default;
        }
    }
    &-bbw {
        transition: all 0.3s ease;
        border-left: $border_width solid $color_bbw;
        border-top: $border_width solid $color_bbw;
        border-radius: $border_radius;
        &:hover,
        &:focus {
            border-color: $color_bbw;
            border-width: $border_width-hover;
            -webkit-box-shadow: $card_shadow-right $color_bbw;
            -moz-box-shadow: $card_shadow-right $color_bbw;
            box-shadow: $card_shadow-right $color_bbw;
        }
        &:visited {
            border: 2px solid $color_bbw;
        }
    }
    &-bs24 {
        transition: all 0.3s ease;
        border-top: $border_width solid $color_bs24;
        border-right: $border_width solid $color_bs24;
        border-radius: $border_radius;
        &:hover,
        &:focus {
            border-color: $color_bs24;
            border-width: $border_width-hover;
            -webkit-box-shadow: $card_shadow-left $color_bs24;
            -moz-box-shadow: $card_shadow-left $color_bs24;
            box-shadow: $card_shadow-left $color_bs24;
        }
        &:visited {
            border: 2px solid $color_bs24;
        }
        @media only screen and (max-width: 990px) {
            border-right: none !important;
            border-left: $border_width solid $color_bs24 !important;
            &:hover,
            &:focus {
                -webkit-box-shadow: $card_shadow-right $color_bs24 !important;
                -moz-box-shadow: $card_shadow-right $color_bs24 !important;
                box-shadow: $card_shadow-right $color_bs24 !important;
            }
        }
    }
}

#content-bbw,
#content-bs24 {
    overflow: hidden;
}

.preview {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $max;
    height: $max;
}

.icons {
    position: relative;
}

.icon {
    cursor: pointer;
    position: absolute;
    padding: 0.5rem;
    opacity: 1;
    right: 0;
}

.icon-left {
    cursor: pointer;
    position: absolute;
    padding: 0.5rem;
    opacity: 1;
    right: 0;
}

.bi {
    color: #000000;
}

.footer {
    position: absolute;
    width: $max;
    //background-color: lightgray;
    text-align: center;
    font-size: 1.5rem;
}

.link-container {
    background-color: $color_default-rgba;
    border-left: 1px solid $color_default;
    border-top: 1px solid $color_default;
    border-radius: $border_radius;
    width: min-content;
    font-size: 1.5rem;
    &>.link-imp {
        margin: 5px;
    }
    &:hover,
    &:focus {
        cursor: pointer;
        border-color: $color_default;
        -webkit-box-shadow: $card_shadow-right $color_default;
        -moz-box-shadow: $card_shadow-right $color_default;
        box-shadow: $card_shadow-right $color_default;
    }
}

.link-container-home {
    background-color: $color_default-rgba;
    border-bottom-right-radius: $border_radius;
    width: min-content;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    &:hover,
    &:focus {
        cursor: pointer;
        -webkit-box-shadow: $card_shadow-right $color_default;
        -moz-box-shadow: $card_shadow-right $color_default;
        box-shadow: $card_shadow-right $color_default;
        text-decoration: underline;
    }
    &>.link-home {
        margin: 5px;
    }
}

.my-content {
    border-radius: $border_radius;
}

.content-animation {
    @media only screen and (min-width: 990px) {
        //animation: slideDown 2s 0s ease forwards;
        animation: none;
    }
}

.content-main {
    max-height: $max;
    @media only screen and (max-width: 990px) {
        animation: slideDown 2s 0s ease forwards;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        height: 0px;
        transition: visibility 1s, opacity 1s linear;
        transform: translateY(-50rem);
    }
    100% {
        opacity: 1;
        height: auto;
        background-color: none;
        transform: translateY(0);
    }
}

a {
    color: #000000;
    font-style: italic;
    text-decoration: none;
    &:hover,
    &:focus {
        color: #000000;
        font-size-adjust: 0.5;
    }
    &:visited,
    &:active {
        color: #000000;
    }
}


/*

Impressum

*/

.my-space-col {
    left: 0;
    width: 0px;
    max-width: 0px;
    min-height: 38rem;
    padding: 0px;
    margin: 0px;
}

.my-col {
    height: $max;
    max-height: $max;
}

.my-card-header {
    cursor: default;
    background-color: $color_default-rgba;
    margin-right: 0px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: $border_radius;
}

.my-card {
    background-color: rgba(255, 255, 255, 0.25) !important;
    min-width: 25rem;
    border-radius: $border_radius;
}

.my-tab-card {
    background-color: $color_default-rgba !important;
    border-radius: $border_radius;
}

.my-navbar {
    height: $max;
    border-radius: $border_radius;
}

.my-list-group {
    width: 100%;
    &,
    .my-list-group-item {
        background: none !important;
        border: none;
    }
}

.my-card-logo {
    width: 10rem;
}

.link {
    &-bbw {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:focus {
            outline: 2px $color_bbw;
            box-shadow: $input_shadow-link $color_bbw;
            background: lightgray;
        }
        &>* {
            border-radius: 0.25rem;
        }
    }
    &-bs24 {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:focus {
            outline: 2px $color_bs24;
            box-shadow: $input_shadow-link $color_bs24;
            background: lightgray;
        }
        &>* {
            border-radius: 0.25rem;
        }
    }
    &-default {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:focus {
            outline: 2px $color_default;
            box-shadow: $input_shadow-link $color_default;
            background: lightgray;
        }
        &>* {
            border-radius: 0.25rem;
        }
    }
    &-bootstrap {
        border-radius: 0.25rem;
        transition: all 0.6s ease;
        &:focus {
            outline: 2px $color_bootstrap;
            box-shadow: $input_shadow-link $color_bootstrap;
            background: lightgray;
        }
        &>* {
            border-radius: 0.25rem;
        }
    }
}

.index-link {
    &-bbw {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        outline: none;
        box-shadow: none;
        border: none;
        color: $color_bbw !important;
        background: $color_default-rgba !important;
        &:hover,
        &:focus {
            outline: 2px $color_bbw;
            box-shadow: $input_shadow $color_bbw;
        }
    }
    &-bs24 {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        outline: none;
        box-shadow: none;
        border: none;
        color: $color_bs24 !important;
        background: $color_default-rgba !important;
        &:hover,
        &:focus {
            outline: 2px $color_bs24;
            box-shadow: $input_shadow $color_bs24;
        }
    }
}

.imp-link,
.link {
    transition: all 0.6s ease;
    &-none {
        outline: none;
        box-shadow: none !important;
        border: 1px solid #ccc !important;
        &:hover,
        &:focus,
        &:visited,
        &:active {
            box-shadow: inset 0 -1px 0 #ddd;
            outline: 0px !important;
            -webkit-appearance: none !important;
            box-shadow: none !important;
        }
    }
    &:hover,
    &:focus {
        outline: 2px $color_default;
        box-shadow: $input_shadow $color_default;
        background: lightgray;
    }
    &-bbw {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:hover,
        &:focus {
            outline: 2px $color_bbw;
            box-shadow: $input_shadow $color_bbw;
            background: lightgray;
        }
    }
    &-bs24 {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:hover,
        &:focus {
            outline: 2px $color_bs24;
            box-shadow: $input_shadow $color_bs24;
            background: lightgray;
        }
    }
    &-bootstrap {
        border-radius: 0.25rem !important;
        transition: all 0.6s ease;
        &:hover,
        &:focus {
            outline: 2px $color_bootstrap;
            box-shadow: $input_shadow $color_bootstrap;
            background: lightgray;
        }
    }
    &>* {
        border-radius: 0.25rem;
    }
}

input[value] {
    z-index: 9999;
    font-size: 110%;
}

.my-nav-pills {
    height: 80vh;
    width: 100%;
    word-break: break-all;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    & .nav-link {
        &:hover {
            outline: 2px $color_default;
            background: lightgray;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: none;
            border-bottom-right-radius: none;
        }
        &:focus,
        &:active {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            outline: 2px $color_default;
            background: lightgray;
        }
    }
    & .nav-link.active,
    & .show>.nav-link {
        color: #fff;
        background-color: $color_default;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: none;
        border-bottom-right-radius: none;
    }
    @media only screen and (max-width: 990px) {
        overflow: auto;
    }
    @media only screen and (max-height: 500px) {
        overflow: auto;
    }
}

.my-scrollspy {
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: $border_radius;
    &>* {
        border-radius: $border_radius;
        padding: 10px;
    }
    &:focus,
    &:hover,
    &:active {
        outline: none;
        border-radius: $border_radius;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        background: #f1f1f1;
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.tab-section {
    border-radius: $border_radius;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.tab-item {
    padding: 1.5rem;
    border-top: 1px solid $color_default;
    border-bottom: 1px solid $color_default;
}

.sub-tab-item {
    padding-top: 10px;
    border-top: 1px dotted $color_default;
}

.info-banner {
    z-index: 999;
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    min-width: 100vh !important;
    background: $color_default-rgba;
    min-height: 10rem;
}

.info-banner>.info-banner-close {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.info-banner>.info-banner-txt {
    padding: 50px;
    text-align: center;
    font-size: 120%;
}