/* 

*/
* {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  min-height: min-content !important;
  min-height: 100%;
  min-width: min-content !important;
  min-width: 100%;
}

body {
  background: url("/src/img/background/bg-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-cards {
  min-height: 100%;
  max-height: 100%;
  height: fit-content;
  min-width: fit-content;
}

.header-logo {
  height: 8rem;
  padding: 10px;
}

.my-header {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.border-default {
  transition: all 0.3s ease;
  border-left: 3px solid #aaaaaa;
  border-top: 3px solid #aaaaaa;
  border-radius: 10px;
}
.border-default:hover, .border-default:active, .border-default:focus {
  cursor: pointer;
  border-color: #aaaaaa;
  border-width: 3px;
  -webkit-box-shadow: 5px 5px 10px 3px #aaaaaa;
  -moz-box-shadow: 5px 5px 10px 3px #aaaaaa;
  box-shadow: 5px 5px 10px 3px #aaaaaa;
}
.border-default:visited {
  border: 2px solid #aaaaaa;
}

#content-bbw,
#content-bs24 {
  overflow: hidden;
}

.border-bbw {
  transition: all 0.3s ease;
  border-left: 3px solid #e30613;
  border-top: 3px solid #e30613;
  border-radius: 10px;
}
.border-bbw:hover, .border-bbw:active, .border-bbw:focus {
  cursor: pointer;
  border-color: #e30613;
  border-width: 3px;
  -webkit-box-shadow: 5px 5px 10px 3px #e30613;
  -moz-box-shadow: 5px 5px 10px 3px #e30613;
  box-shadow: 5px 5px 10px 3px #e30613;
}
.border-bbw:visited {
  border: 2px solid #e30613;
}

.border-bs24 {
  transition: all 0.3s ease;
  border-top: 3px solid #85b004;
  border-right: 3px solid #85b004;
  border-radius: 10px;
}
.border-bs24:hover, .border-bs24:active, .border-bs24:focus {
  cursor: pointer;
  border-color: #85b004;
  border-width: 3px;
  -webkit-box-shadow: -5px 5px 10px 3px #85b004;
  -moz-box-shadow: -5px 5px 10px 3px #85b004;
  box-shadow: -5px 5px 10px 3px #85b004;
}
.border-bs24:visited {
  border: 2px solid #85b004;
}
@media only screen and (max-width: 990px) {
  .border-bs24 {
    border-right: none !important;
    border-left: 3px solid #85b004 !important;
  }
  .border-bs24:hover, .border-bs24:active, .border-bs24:focus {
    -webkit-box-shadow: 5px 5px 10px 3px #85b004 !important;
    -moz-box-shadow: 5px 5px 10px 3px #85b004 !important;
    box-shadow: 5px 5px 10px 3px #85b004 !important;
  }
}

.preview {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.icons {
  position: relative;
}

.icon {
  position: absolute;
  padding: 0.5rem;
  opacity: 1;
  right: 0;
  top: 0;
}

.bi {
  color: #000000;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.link-container {
  background-color: rgba(255, 255, 255, 0.75);
  border-left: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  border-radius: 10px;
  width: min-content;
  font-size: 1.5rem;
}
.link-container > .link {
  margin: 5px;
}
.link-container:hover, .link-container:active, .link-container:focus {
  cursor: pointer;
  border-color: #aaaaaa;
  border-width: 3px;
  -webkit-box-shadow: 5px 5px 10px 3px #aaaaaa;
  -moz-box-shadow: 5px 5px 10px 3px #aaaaaa;
  box-shadow: 5px 5px 10px 3px #aaaaaa;
}
.link-container:visited {
  border: 2px solid #aaaaaa;
}

.link-container-home {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom-right-radius: 10px;
  width: min-content;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.link-container-home:hover, .link-container-home:active, .link-container-home:focus {
  cursor: pointer;
  border-color: #aaaaaa;
  border-width: 3px;
  -webkit-box-shadow: 5px 5px 10px 3px #aaaaaa;
  -moz-box-shadow: 5px 5px 10px 3px #aaaaaa;
  box-shadow: 5px 5px 10px 3px #aaaaaa;
}
.link-container-home:visited {
  border: 3px solid #aaaaaa;
}
.link-container-home > .link {
  margin: 5px;
}

.my-content {
  border-radius: 10px;
}

@media only screen and (min-width: 990px) {
  .content-animation {
    animation: none;
  }
}

.content-main {
  max-height: 100%;
}
@media only screen and (max-width: 990px) {
  .content-main {
    animation: slideDown 2s 0s ease forwards;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0px;
    transition: visibility 1s, opacity 1s linear;
    transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    height: auto;
    background-color: none;
    transform: translateY(0);
  }
}
a {
  color: #000000;
  font-style: italic;
  text-decoration: none;
}
a:hover, a:focus {
  color: #000000;
  font-size-adjust: 0.5;
  text-decoration: underline;
}
a:visited, a:active {
  color: #000000;
}

/*

Impressum

*/
.my-space-col {
  left: 0;
  width: 0px;
  max-width: 0px;
  min-height: 38rem;
  padding: 0px;
  margin: 0px;
}

.my-col {
  height: 100%;
  max-height: 100%;
}

.my-card-header {
  background-color: rgba(255, 255, 255, 0.75);
  padding-right: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.my-card {
  background-color: rgba(255, 255, 255, 0.25) !important;
  min-width: 25rem;
  border-radius: 10px;
}

.my-tab-card {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 10px;
}

.my-navbar {
  height: 100%;
  border-radius: 10px;
}

.my-list-group {
  width: 100%;
}
.my-list-group,
.my-list-group .my-list-group-item {
  background: none !important;
}

.my-card-header {
  background-color: rgba(255, 255, 255, 0.75) !important;
  margin-right: 50px;
}

.my-card-logo {
  width: 10rem;
}

.my-label {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem) !important;
}
.my-label:hover, .my-label:focus, .my-label:active {
  transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
}

.imp-link {
  transition: all 0.6s ease;
}
.imp-link:hover {
  box-shadow: 0px 0px 10px 5px #aaaaaa;
  background: lightgray;
}

.imp-link-bbw {
  transition: all 0.6s ease;
}
.imp-link-bbw:hover {
  box-shadow: 0px 0px 10px 5px #e30613;
  background: lightgray;
}

.imp-link-bs24 {
  transition: all 0.6s ease;
}
.imp-link-bs24:hover {
  box-shadow: 0px 0px 10px 5px #85b004;
  background: lightgray;
}

.imp-link-bootstrap {
  transition: all 0.6s ease;
}
.imp-link-bootstrap:hover {
  box-shadow: 0px 0px 10px 5px #7952b3;
  background: lightgray;
}

.my-nav-pills {
  width: 100%;
  overflow: unset;
  word-break: break-all;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}
.my-nav-pills .nav-link:hover {
  border: 1px solid #aaaaaa;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}
.my-nav-pills .nav-link.active, .my-nav-pills .show > .nav-link {
  color: #fff;
  background-color: #aaaaaa;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}

.my-scrollspy {
  height: 40rem;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.my-scrollspy > * {
  border-radius: 10px;
  padding: 10px;
}
.my-scrollspy:focus, .my-scrollspy:hover, .my-scrollspy:active {
  outline: none;
  border-radius: 10px;
}
.my-scrollspy::-webkit-scrollbar {
  width: 10px;
}
.my-scrollspy::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.my-scrollspy::-webkit-scrollbar-thumb {
  background: #888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.my-scrollspy::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tab-section {
  border-radius: 10px;
}

.tab-item {
  padding: 1.5rem;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.sub-tab-item {
  padding-top: 10px;
  border-top: 1px dotted #aaaaaa;
}