html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-link {
    position: absolute;
}

.home-link {
    position: relative;
    font-size: 120%;
}

.icon-swap {
    padding: 10px;
}

.header-logo {
    height: 8rem;
    padding: 10px;
}

.space-1 {
    margin-bottom: auto;
}

.content {
    border: 2px solid gray;
    box-shadow: 10px 5px 5px black;
    @media only screen and (min-width: 990px) {
        animation: slideDown 2s 0s ease forwards;
    }
    &:hover {
        cursor: pointer;
        border-color: gray;
        border-width: 5px;
        border-style: outset;
    }
}

.border-bbw {
    border-color: #e30613;
    &:hover {
        box-shadow: 10px 5px 5px #e30613;
    }
}

.border-bs24 {
    border-color: #85b004;
    &:hover {
        box-shadow: 10px 5px 5px #85b004;
    }
}

.content-main {
    min-height: 100%;
    @media only screen and (max-width: 990px) {
        animation: slideDown 2s 0s ease forwards;
    }
}

.content-body {
    padding: 5px;
}

.icons {
    position: relative;
}

.icon {
    position: absolute;
    padding: 10px;
    opacity: 1;
    right: 0;
    top: 0;
}

.bi {
    color: #000000;
}


/*
.collapse:not(.show) {
  @media only screen and (min-width: 980px) {
    display: block;
  }
}
*/

.preview {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

iframe {
    pointer-events: none;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: none;
    color: white;
    text-align: right;
    font-size: 1.5rem;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        height: 0px;
        transition: visibility 1s, opacity 1s linear;
        transform: translateY(-50rem);
    }
    100% {
        opacity: 1;
        height: auto;
        background-color: none;
        transform: translateY(0);
    }
}

a {
    color: #000000;
    font-style: italic;
    text-decoration: none;
    &:hover {
        color: #000;
        text-decoration: underline;
        font-size-adjust: 0.5;
        text-shadow: 1px 0px #000000;
    }
    &:visited {
        color: #000000;
    }
    &:active {
        color: #000000;
    }
}


/*

Impressum

*/

.card {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.list-group,
.list-group-item {
    background: none !important;
}

.card-header {
    background-color: rgba(255, 255, 255, 0.75) !important;
    margin-right: 50px;
}

.card-logo {
    width: 10rem;
}