/* 

*/

$color_bbw: #e30613 !global;
$color_bs24: #85b004 !global;
$color_default: #909090 !global;
$color_default-rgba: rgba(255, 255, 255, 0.75);
$color_bootstrap: #7952b3;
$input_shadow: 0px 0px 10px 5px;
$card_shadow: 5px 5px 10px 3px;
$opacity_default: 1;
$opacity: 0.75;
$max: 100%;

html {
  scroll-behavior: smooth;
  height: $max;
  width: $max;
  min-height: min-content !important;
  min-height: $max;
  min-width: min-content !important;
  min-width: $max;
}

body {
  background: url("/src/img/background/bg-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  overflow: hidden;
}
.info-cards {
  min-height: 100%;
  height: fit-content;
  min-width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &::after {
    position: absolute;
  }
}
input {
  min-width: 100%;
}
.my-card {
  min-height: fit-content;
  min-width: 100%;
}
.my-space {
  height: $max;
}

.home-link {
  font-size: 100%;
}
.header-logo {
  height: 8rem;
  padding: 10px;
}
.my-header {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.my-content {
  transition: all 0.3s ease;
  border-top: 3px solid $color_default;
  border-left: 3px solid $color_default;
  &:hover {
    border-color: $color_default;
    border-width: 5px;
    border-style: outset;
    box-shadow: $card_shadow $color_default;
  }
}

#content-bbw,
#content-bs24 {
  overflow: hidden;
}

.border-bbw {
  transition: all 0.3s ease;
  border-left: 3px solid $color_bbw;
  border-top: 3px solid $color_bbw;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    border-color: $color_bbw;
    border-width: 5px;
    border-style: outset;
    box-shadow: $card_shadow $color_bbw;
  }
  &:visited {
    border: 2px solid $color_bbw;
  }
}

.border-bs24 {
  transition: all 0.3s ease;
  border-top: 3px solid $color_bs24;
  border-right: 3px solid $color_bs24;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    border-color: $color_bs24;
    border-width: 5px;
    border-style: outset;
    box-shadow: -5px 5px 10px 3px $color_bs24;
  }
  &:visited {
    border: 2px solid $color_bs24;
  }
}

.preview {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: $max;
  height: $max;
}

.icons {
  position: relative;
}

.icon {
  position: absolute;
  padding: 10px;
  opacity: 1;
  right: 0;
  top: 0;
}

.bi {
  color: #000000;
}

.footer {
  position: absolute;
  width: $max;
  //background-color: lightgray;
  text-align: right;
  font-size: 1.5rem;
}

.footer > .link-container {
  background-color: $color_default-rgba;
  border-radius: 25px;
  width: fit-content;
}

.link-container {
  padding: 5px;
  background-color: $color_default-rgba;
  border-radius: 25px;
  width: min-content;
  font-size: 1.5rem;
}
.link {
  margin: 0px;
}
.content-animation {
  @media only screen and (min-width: 990px) {
    //animation: slideDown 2s 0s ease forwards;
    animation: none;
  }
}

.content-main {
  min-height: $max;
  @media only screen and (max-width: 990px) {
    animation: slideDown 2s 0s ease forwards;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0px;
    transition: visibility 1s, opacity 1s linear;
    transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    height: auto;
    background-color: none;
    transform: translateY(0);
  }
}

a {
  color: #000000;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: underline;
    font-size-adjust: 0.5;
    text-shadow: 1px 0px #000000;
  }
  &:visited {
    color: #000000;
  }
  &:active {
    color: #000000;
  }
}

/*

Impressum

*/

section {
  height: 100%;
  max-height: min-content;
}
.my-card-header {
  background-color: $color_default-rgba !important;
  margin-right: 50px;
}
.my-card {
  height: min-content;
  background-color: rgba(255, 255, 255, 0.25) !important;
  position: absolute;
  &::after {
    margin: 10px;
    position: relative;
  }
}
* > .my-card,
* > .my-tab-card {
  position: relative;
}
.my-tab-card {
  background-color: $color_default-rgba !important;
  &::after {
    margin: 10px;
    position: relative;
  }
}
.my-list-group,
.my-list-group-item {
  background: none !important;
}

.my-card-header {
  background-color: $color_default-rgba !important;
  margin-right: 50px;
}

.my-card-logo {
  width: 10rem;
}
.my-label {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem) !important;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline !important;
    transform: scale(0.85) translateY(-0.6rem) translateX(0.15rem) !important;
  }
}

.imp-link-bbw,
.imp-link-bs24,
.imp-link {
  transition: all 0.6s ease;
  &:hover {
    background: lightgray;
  }
}

.my-form-float .imp-link {
  &:hover {
    box-shadow: $input_shadow $color_default;
  }
}

.imp-link-bbw {
  &:hover {
    box-shadow: $input_shadow $color_bbw;
  }
}

.imp-link-bs24 {
  &:hover {
    box-shadow: $input_shadow $color_bs24;
  }
}

.imp-link-bootstrap {
  &:hover {
    box-shadow: $input_shadow $color_bootstrap;
  }
}

.my-scrollspy {
  max-height: 40rem;
  overflow: scroll;
  overflow-x: hidden;
}
.tab-item {
  padding: 1.5rem;
  border-top: 1px solid $color_default;
  border-bottom: 1px solid $color_default;
}
.sub-tab-item {
  padding-top: 10px;
  border-top: 1px dotted $color_default;
}
